.feature
    display: flex
    flex: 0 1 50%
    padding: $m-sm

    &__icon
        border-radius: $border-radius
        height: 50px
        padding: $m-md
        width: 50px

        &.-yellow
            background-color: orange

        &.-green
            background-color: green

        &.-red
            background-color: red

        &.-blue
            background-color: blue

    &__tile
        margin: $m-sm

    &__title
        font-weight: $font-weight-bold
        padding: $m-sm 0

    &__subtitle
       font-size: $font-size-sm
