.subscription
    display: flex
    justify-content: space-between
    padding: 40px 100px 40px 100px

    &__title
        font-size: $font-size-xl
        color: $gray-30
        margin-bottom: $m-md

    &__subtitle
        font-size: $font-size-base
        color: $gray-40
        margin-bottom: $m-md

    &__actions
        display: flex
        justify-content: space-between
        font-size: $font-size-xs

        & a
            color: $text-color

    &__section
        flex: 0 1 calc(50% - $m-md)

    &__image
        width: 100%