*
  box-sizing: border-box

body
  color: $color-gray-dark
  font:
    family: $font-stack-body
    size: $font-size-base
  line-height: $line-height-base
  padding: 10px 100px
  background-image: linear-gradient(-90deg, $background-gradient-1, $background-gradient-1)

b,
strong
  font-weight: $font-weight-bold

a,
button,
input[type='button']
  cursor: pointer

img
  display: block
  max-width: 100%

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $font-stack-header
  margin:
    bottom: $m-base
    top: 0
