.form-label
    font-size: $font-size-xs
    font-weight: $font-weight-bold
    margin-bottom: $m-xs

.form-input
    background-color: $gray-98
    border-radius: $m-xs
    border: 1px solid $gray-75
    color: $gray-30
    line-height: 1.5
    margin-bottom: $m-sm
    min-width: 200px
    padding: $m-xs
    width: 100%
