.footer
    display: flex
    align-items: center

    & a
        margin: $m-sm

    &__link
        color: $text-color
        font-size: $font-size-sm

    &__icon
        margin-right: auto
        margin-top: $m-sm